body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #121212;
    color: #ffffff;
}
h1, h2 {
    color: #4CAF50;
    text-align: center;
}
.water-section h2 {
    color: #00ffcc; /* Neon Blue */
}
.soil-section h2 {
    color: #00ff00; /* Neon Green */
}
form {
    margin-bottom: 20px;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
}
input[type="number"] {
    padding: 10px;
    width: 100px;
    box-sizing: border-box;
    background-color: #333;
    color: #ffffff;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 40px;
    font-weight: bold;
    outline: none;
    height: 60px;
}
.water-section button {
    padding: 10px 15px;
    background-color: #00a3a3; /* Slightly Darker Neon Blue */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 60px;
}
.water-section button:hover {
    background-color: #008080; /* Darker Neon Blue on Hover */
}
.soil-section button {
    padding: 10px 15px;
    background-color: #02ce02; /* Neon Green */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 60px;
}
.soil-section button:hover {
    background-color: #008c00; /* Darker Neon Green */
}
.result {
    margin-top: 20px;
    padding: 20px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.images {
    margin-top: 20px;
    text-align: center;
}
.images img {
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.images img:hover {
    transform: scale(1.1);
}

.inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #fff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00a3a3;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.soil-section button.glow-on-hover:after {
    background: #02ce02;
}

.soil-section button.glow-on-hover:active:after {
    background: transparent;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

hr {
    margin: 0 auto;
    margin-top: 40px;
    width: 60%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}